.card {
  background-color: var(--c-bg-1);
  border-radius: 0;
  padding: 1.4rem;
  transition: none;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bordered {
  box-shadow: var(--bevel-raised);
}

.flush {
  padding: 0;
}

.accent {
  box-shadow: var(--bevel-raised), inset 0 0 0 1px var(--c-accent);
}

.hoverable {
  cursor: pointer;
}

.hoverable:hover {
  box-shadow: var(--bevel-raised), inset 0 0 0 1px var(--c-accent);
}

.body {
  padding: 1.4rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.media {
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: inset 0 -1px 0 #808080;
  flex-shrink: 0;
}
